@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.homepage-img {
    background-image: url('https://saving-satoshi.s3.amazonaws.com/main-image.png');
}

.ch1-background-img {
    background-image: url('https://saving-satoshi.s3.amazonaws.com/ch2.png');
}


/* TODO check if there's a better way to add
styles to contentlayer innerhtml
modules, extending theme perhaps ????
*/

/* Contentlayer InnerHtml classes */

.intro > h1 {
    font-size: 3rem; 
    font-family: var(--cbrush-font);
    font-style: normal;
    line-height: 100%;
}

.intro > h2 {
    font-size: 1.375rem; 
    font-family: var(--nunito-font);
    font-weight: 900;
    line-height: 1.875rem;
    padding-top: 0.625rem;
}

.intro > p {
    font-size: 1.375rem; 
    font-family: var(--nunito-font);
    font-style: normal;
    line-height: 100%;
    padding-top: 0.625rem;
}

.genesis > h1 {
    font-size: 1.5rem; 
    font-family: var(--nunito-font);
    font-style: normal;
    line-height: 100%;
    font-weight: 700;
    padding-top: 0.625rem;
}

.genesis > p {
    font-size: 1.125rem; 
    font-family: var(--nunito-font);
    font-style: normal;
    line-height: 100%;
    padding-top: 0.625rem;
}

.genesis-p2 > h1 {
    font-size: 1.5rem; 
    font-family: var(--nunito-font);
    font-style: normal;
    line-height: 100%;
    font-weight: 700;
    padding-top: 0.625rem;
}

.genesis-p2 > p {
    font-size: 1.375rem; 
    font-family: var(--nunito-font);
    font-style: normal;
    line-height: 100%;
    padding-top: 0.625rem;
}



@layer base {
    body {
      @apply bg-base-blue;
    }
}